body {
  background-color: #141414;
  padding: 0px 50px;
  margin: -70px, 0px, 0px;
  font-family: 'Open Sans', sans-serif;
}

li {
  display: inline;
  flex-direction: row;
  list-style-type: none;
  color: white;
  padding: 0px 10px;
  align-items: start;
  font-size: 13.5px;
  cursor: pointer;
}

#Home {
  color: white;
  font-weight: 700;
}

h2 {
  color: #E5E5E5;
  font-size: 23px;
  line-height: 230px;
}

.Tendances {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -600px;
}

.Maliste {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -350px;
}

.Revoir {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -100px;
}

.header{
  display: flex;
  /*box-shadow: 1px -5px 5px black;*/
}

.netflixlogo {
  margin: 13px;
}

.tools {
  padding: 0px 0px 0px 1200px;
}
.container {
  margin-top: -75px;
}

.images {
  cursor: pointer;
  padding: 0.5em;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1 {
  color: #E5E5E5;
}

a:visited {
  color: #E5E5E5;
}

a {
  text-decoration: none;
}

.fas {
  margin: 0px 0px 0px 1020px;
  padding: 1.4em;
}

.fas > a {
  padding: 0px 0px 0px 30px;
}

a:hover {
  color: grey;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}